## message: Dict[str, Any]


<%!
from ooresults.otypes.result_type import ResultStatus
from ooresults.utils.globals import MAP_STATUS
from ooresults.utils.globals import minutes_seconds


def format(status: str, time: int) -> str:
    if status == ResultStatus.OK:
        return MAP_STATUS[status] + ", " + minutes_seconds(time) + " min"
    else:
        return MAP_STATUS[status]


def background(message) -> str:
    if message.get('status', ResultStatus.INACTIVE) == ResultStatus.OK:
        return "bgg"
    else:
        return "bgr"
%>


% if message.get("light_status") == "needs_assignment":
<div id="si1.div" class="bgy">
    <div style="height: 20vh;" class="vertical-center">
        <p class="s2">Chip: ${message["controlCard"]}</p>
    </div>
    <div style="height: 40vh;" class="vertical-center">
        <p class="s1">
            <input type="text" id="si1.firstName" value="${message.get('firstName') or ''}" placeholder="First name" size="15">
            <input type="text" id="si1.lastName" value="${message.get('lastName') or ''}" placeholder="Last name" size="15">
            <select id="si1.classId">
                % for cls in message.get("classes", []):
                <option value="${cls['id']}">${cls['name']}</option>
                % endfor
            </select>
            <button onclick="ws.send(JSON.stringify({type:'assignEntry',entry_id:${message['entry_id']},first_name:document.getElementById('si1.firstName').value,last_name:document.getElementById('si1.lastName').value,class_id:parseInt(document.getElementById('si1.classId').value)}))">Assign</button>
        </p>
    </div>
    <div style="height: 40vh;" class="vertical-center">
        <p class="s2">&nbsp;</p>
    </div>
</div>
% else:
<div id="si1.div" class="${background(message)}">
    <div style="height: 37vh;" class="vertical-center">
        <p class="s2">${message["lastName"]}, ${message["firstName"]}</p>
    </div>
    <div style="height: 26vh;" class="vertical-center">
        <p class="s1">${message["controlCard"]}, ${message.get("class", "")}</p>
    </div>
    <div style="height: 37vh;" class="vertical-center">
        <p class="s2">${format(message.get("status", ResultStatus.INACTIVE), message.get("time", 0))}</p>
    </div>
</div>
% endif
